.popup
  width 100%
  height 100%
  background: rgba(0, 0, 0, 0.3)
  position fixed
  z-index 10000
  top 0
  left 0
  .dialog
    position relative
    width 500px
    height auto
    left 50%
    top 50%
    max-height 100%
    background #ffffff
    border-radius 5px
    transform translate(-50%, -50%)
    box-shadow 2px 1px 1px #eee
    input, textarea, select
      width 200px
  .title
    margin-bottom 20px
    text-align center
    font-weight 700
  .btn
    text-align center
    margin-top 20px
    button
      width 150px
      text-align center
      border none
      background #ccc
      height 40px
      line-height @height
      cursor pointer
      &:last-child
        background #00b7a3
        color #fff
        margin-left 20px