.c-select
  position absolute
  top 32px
  left 0
  background #fff
  box-shadow 0 1px 3px #ccc
  padding 0 4px
  li
    padding 0 10px
    border-bottom 1px solid #dfdfdf
    margin-bottom 0!important
    line-height 30px
    cursor pointer
    &:last-child
      border-bottom none